<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Weekly Coding Challenge #1: Sign in/up Form</h2>
<div class="container" id="container" [ngClass]="{'right-panel-active': isSignUpClick}">
	<div class="form-container sign-up-container">
		<form [formGroup]="registerFormData" method="post">
			<h1>Create Account</h1>
			<div class="social-container">
				<a class="social"><i class="fab fa-facebook-f"></i></a>
				<a class="social"><i class="fab fa-google-plus-g"></i></a>
				<a class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input formControlName="name" required type="text" placeholder="Name" name="txt_name"/>
			<p *ngIf="isName_Register" style="color: red; font-size: 14px">Name is required</p>
			<input formControlName="email" required type="email" placeholder="Email" name="txt_email"/>
			<p *ngIf="isEmail_Register" style="color: red; font-size: 14px">Email is required</p>
			<input formControlName="password" required type="password" placeholder="Password" name="txt_password"/>
			<p *ngIf="isPassword_Register" style="color: red; font-size: 14px">Password is required</p>
			<button (click)="registerSubmit()" [disabled]="registerFormData.invalid" type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form [formGroup]="loginFormData" method="post">
			<h1>Sign in</h1>
			<div class="social-container">
				<a class="social"><i class="fab fa-facebook-f"></i></a>
				<a class="social"><i class="fab fa-google-plus-g"></i></a>
				<a class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input formControlName="email" required type="email" placeholder="Email" name="txt_email"/>
			<p *ngIf="isEmail" style="color: red; font-size: 14px">Email is required</p>
			<input formControlName="password" required type="password" placeholder="Password" name="txt_password"/>
			<p *ngIf="isPassword" style="color: red; font-size: 14px">Password is required</p>
			<a href="#">Forgot your password?</a>
			<button (click)="onSubmitLogin()" [disabled]="loginFormData.invalid" type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button (click)=OnSignInClick() class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button (click)="OnSignUpClick()" class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>