<header class="header-area" style="z-index: 10">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.php"><img src="assets/user/images/logo/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>  
                <div class="main-menu">
                    <ul>
                        <li class="active"><a routerLink="/">home</a></li>
                        <li><a routerLink="/About">about</a></li>
                        <li><a routerLink="/Menu-Food">menu</a></li>
                        <li><a>blog</a>
                            <ul class="sub-menu">
                                <li><a routerLink="/Blog-Home">Blog Home</a></li>
                                <li><a routerLink="/Blog-DeTails">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/Contact-Us">contact</a></li>
                        <li><a routerLink="/Elements">Elements</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>